@media screen and (min-width: 1440px){
	body{
		margin: 0;
		padding: 0;
		width: 1440px;
	}

	.container{
		width: 100%;
		height: 2430px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.picture-area{
		display: none;
	}
}

@media screen and (max-width: 1024px){
	body{
		margin: 0;
		padding: 0;
		width: 1024px;
	}

	h1{
		width: 30%;
		position: relative;
		left: 35%;
	}

	.container{
		width: 100%;
		height: 1760px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.picture-area{
		display: none;
	}

	.container small{
		padding-top: 2%;
	}
}

@media screen and (max-width: 750px){
	body{
		margin: 0;
		padding: 0;
		width: 750px;
	}

	h1{
		width: 50%;
		left: 23%;
	}

	.container{
		width: 750px;
		height: 2730px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.picture-area{
		display: block;
		width: 100%;
	}

	.pic-1{
		width: 50%;
		height: 375px;
		float: left;
	}

	.pic-1 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-1 figure{
		width: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.pic-1 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-1 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-2{
		margin-left: 50%;
		width: 50%;
		height: 375px;
	}

	.pic-2 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-2 figure{
		width: 50%;
		position: absolute;
		top: 0;
		left: 50%;
	}

	.pic-2 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-2 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-3{
		width: 50%;
		height: 375px;
		float: left;
	}

	.pic-3 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-3 figure{
		width: 50%;
		position: absolute;
		top: 13.7%;
		left: 0;
	}

	.pic-3 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-3 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-4{
		margin-left: 50%;
		width: 50%;
		height: 375px;
	}

	.pic-4 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-4 figure{
		width: 50%;
		position: absolute;
		top: 13.7%;
		left: 50%;
	}

	.pic-4 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-4 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-5{
		width: 50%;
		height: 375px;
		float: left;
	}

	.pic-5 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-5 figure{
		width: 50%;
		position: absolute;
		top: 27.5%;
		left: 0;
	}

	.pic-5 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-5 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-6{
		margin-left: 50%;
		width: 50%;
		height: 375px;
	}

	.pic-6 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-6 figure{
		width: 50%;
		position: absolute;
		top: 27.5%;
		left: 50%;
	}

	.pic-6 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-6 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-7{
		width: 50%;
		height: 375px;
		float: left;
	}

	.pic-7 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-7 figure{
		width: 50%;
		position: absolute;
		top: 41.3%;
		left: 0;
	}

	.pic-7 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-7 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-8{
		margin-left: 50%;
		width: 50%;
		height: 375px;
	}

	.pic-8 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-8 figure{
		width: 50%;
		position: absolute;
		top: 41.3%;
		left: 50%;
	}

	.pic-8 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-8 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-9{
		width: 50%;
		height: 375px;
		float: left;
	}

	.pic-9 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-9 figure{
		width: 50%;
		position: absolute;
		top: 55.1%;
		left: 0;
	}

	.pic-9 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-9 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-10{
		margin-left: 50%;
		width: 50%;
		height: 375px;
	}

	.pic-10 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-10 figure{
		width: 50%;
		position: absolute;
		top: 55.1%;
		left: 50%;
	}

	.pic-10 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-10 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-11{
		width: 50%;
		height: 375px;
		float: left;
	}

	.pic-11 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-11 figure{
		width: 50%;
		position: absolute;
		top: 68.9%;
		left: 0;
	}

	.pic-11 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-11 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-12{
		margin-left: 50%;
		width: 50%;
		height: 375px;
	}

	.pic-12 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-12 figure{
		width: 50%;
		position: absolute;
		top: 68.9%;
		left: 50%;
	}

	.pic-12 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-12 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-13{
		width: 50%;
		height: 375px;
		float: left;
	}

	.pic-13 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-13 figure{
		width: 50%;
		position: absolute;
		top: 82.6%;
		left: 0;
	}

	.pic-13 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-13 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.pic-14{
		margin-left: 50%;
		width: 50%;
		height: 375px;
	}

	.pic-14 a{
		text-decoration: none;
		width: 100%;
	}

	.pic-14 figure{
		width: 50%;
		position: absolute;
		top: 82.6%;
		left: 50%;
	}

	.pic-14 figcaption{
		width: 100%;
		height: 187px;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: rgba( 48, 51, 59, 0.5);
	}

	.pic-14 h2{
		padding-top: 25%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 100;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	.container small{
		margin-top: -5%;
		padding-left: 0%;
		display: block;
	}

	.to-top{
		margin-top: 2%;
		margin-left: 80%;
		width: 15%;
	}

}
